@import "bootstrap/bootstrap.less";
@import "../css/aos.css";
@import "font-awesome/less/font-awesome.less";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900|Roboto+Mono');

//colors
@yellow: #FDFF59;
@black: #000;
@white: #fff;
// Font-Size
@base-font-size: 1em;
// Line-Height
@base-line-height: 1.5;
@header-line-height: 1.25;
//sizes
@bp-xsmall: 24em; // 384px
@bp-small: 48em; // 768px
@bp-medium: 64em; // 1024px
@bp-large: 85.375em; // 1366px
@bp-xlarge: 120em; // 1920px
@bp-xxlarge: 160em; // 2560px
// Media Queries
@mq-xsmall: ~"(min-width: @{bp-xsmall})";
@mq-small: ~"(min-width: @{bp-small})";
@mq-medium: ~"(min-width: @{bp-medium})";
@mq-large: ~"(min-width: @{bp-large})";
@mq-xlarge: ~"(min-width: @{bp-xlarge})";
@mq-xxlarge: ~"(min-width: @{bp-xxlarge})";
@mq-retina: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
@navbar-height: 70px;

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}

.transform (@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -ms-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Space Mono', monospace;
}

// .container {
//     @media @mq-small {
//         width: 48em !important;
//     }
//     @media @mq-medium {
//         width: 64em !important;
//     }
//     @media @mq-large {
//         width: 85em !important;
//     }
//     @media @mq-xlarge {
//         width: 120em !important;
//     }
//     @media @mq-xxlarge {
//         width: 160em !important;
//     }
// }

.inverted {
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: @white;
    }
    background-color: @black;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Space Mono', monospace;

    a:focus,
    a:hover {
        text-decoration: none;
    }
    .transition( font-size 1s);
}

h1 {
    font-size: @base-font-size*3;
    @media @mq-medium {
        font-size: @base-font-size*6;
    }
    @media @mq-large {
        font-size: @base-font-size*6;
    }
    @media @mq-xlarge {
        font-size: @base-font-size*10;
    }
    @media @mq-xxlarge {
        font-size: @base-font-size*12;
    }
}

h2 {
    //  font-size: @base-font-size*3;
    font-size: @base-font-size*2;
    padding: 1em 0;
    @media @mq-medium {
        font-size: @base-font-size*2;
    }
    @media @mq-large {
        font-size: @base-font-size*2.8;
    }
    @media @mq-xlarge {
        font-size: @base-font-size*3.5;
    }
    @media @mq-xxlarge {
        font-size: @base-font-size*4;
    }
}

p {
    font-family: 'Space Mono', monospace;
    font-size: @base-font-size*1;
    @media @mq-medium {
        font-size: @base-font-size*1;
    }
    @media @mq-large {
        font-size: @base-font-size*1.5;
    }
    @media @mq-xlarge {
        font-size: @base-font-size*1.5;
    }
    @media @mq-xxlarge {
        font-size: @base-font-size*2;
    }
}

a:focus,
a:hover {
    text-decoration: none;
}

.fill {
    height: 100%;
    min-height: 100%;
}

.middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#hero {
    text-align: center;
    height: 100%;

    .claim {
        margin: 5em 0 3em;

        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;
            height: 1.3em;
            overflow: hidden;
            margin-top: 2px;
            position: relative;
            top: 8px;

            li {
                background-color: @black;
                color: @white;
                margin-top: 0;
                top: 0;
                position: relative;
                .transition(all 1s cubic-bezier(.87,-.41,.19,1.44) );
                padding: 9px;
            }
        }
    }

    em {
        color: @white;
        background-color: @black
    }

    .middle {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .title-container {
        background-color: @yellow;
        width: 100%;
        height: 4em;
        margin-bottom: 7em;

        h1 {
            font-size: 6em !important;
            height: 50%;
            border-bottom: 2px solid @black;
            display: inline;
            @media @mq-medium {
                font-size: @base-font-size*6;
            }
            @media @mq-large {
                font-size: @base-font-size*6;
            }
            @media @mq-xlarge {
                font-size: @base-font-size*10;
            }
            @media @mq-xxlarge {
                font-size: @base-font-size*12;
            }
        }
    }
}

#mainNav {
    background-color: transparent;
    border: none;
    display: none;

    &.affix {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

.btn.btn-primary.btn-lg {
    background-color: @white;
    border: 1px solid black;
    color: @black;
    border-radius: 0;
}

img.responsive-images {
    max-width: 100%;
}

#process-animation {}

#process-explained {
    .step {
        margin-top: 2em;
    }
}

#contacts {
    background-image: url("../img/contacts.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.underlined {
    display: inline;
    background: @yellow;
    box-shadow: 10px 10px 0 @white, -10px 0 0 @black;
    line-height: 2em;
}

#footer {
    min-height: 270px;
    padding-top: 30px;

    .roundpic {
        width: 100%;
        border-radius: 300px;
        border: 10px solid #FDFF59;
        background-color: transparent;
    }

    .wrapper {
        display: table;
        text-align: center;
        @media @mq-small {
            max-height: 150px;
            text-align: left;
        }
    }
}

#about {
    .row {
        @media @mq-medium {
            display: table;
        }

        .col-table {
            @media @mq-small {
                display: table-cell;
                float: none;
                vertical-align: middle;
            }
        }
    }

    .special.button {
        background-color: @yellow;
        border: none;
        color: @black;
        width: 10em;
        height: 10em;
        margin: auto;
        display: block;

        a {
            color: @black;
            position: relative;
            text-overflow: initial;
            white-space: normal;
        }

        svg.icon {
            max-width: 100%;
            stroke-width: 0.5em;
        }
        // a:after{
        //   content: " ";
        //   background-image: url(../svg/double_arrow.svg);
        //   height: 100%;
        //   display: block;
        // }
    }
}

#process-explained {
    .paragraph {
        text-align: justify;
    }

    .drawing {
        position: absolute;
        top: -90px;
        margin: auto;
    }

    .step .title {
        text-align: center;

        h2 {
            max-width: 50%;
        }
    }
}

#weDo {
    h2 {
        text-align: center;
    }

    p.description {
        color: @white;
    }

    .wedo-icons {
        //background-color: #fff;
        svg {
            stroke: #fff;
            fill: transparent;
            position: relative;
            @media @mq-xsmall {
                max-height: 80px;
            }
            @media @mq-small {
                max-height: 150px;
            }
            @media @mq-medium {
                max-height: 300px;
            }
            @media @mq-large {}
            @media @mq-xlarge {}
            @media @mq-xxlarge {}
        }
    }
}


#projects {
    .img-responsive {
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    .description {
        color: #ffffff;
    }
}


#teaser {

  .title-container {
      background-color: @yellow;
      width: 100%;
      height: 4em;
      margin-bottom: 7em;
    }

hr{
  color: #ff6f69;
      line-height: 2px;
      border: 1px solid;}

  h1{
    font-weight: 800;
    font-size: 5em;
    font-family: 'Roboto Mono', monospace;
  }

  h3{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  p{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: large;
  }
  a{
    color: @black;
    &:hover{
      background-color: @yellow;
    }
  }
  .mail{
    border-bottom: 1px solid @yellow;
    background-color: @yellow;
  }
  .fullWidth{
    max-width: 100%
  }
}
