<section id="about" class="fill container" data-aos="fade-in">

    <div class="row middle" >
        <div class="col col-md-8 col-sm-12">
            {{range .Site.Params.about.weDo}}
                <div class="weDo">
                    <h2>
                        {{.title}}
                    </h2>
                    <p>
                        {{.description}}
                    </p>

                </div>

            {{end}}
        </div>

        <div class=" col col-md-4 col-sm-12 fill">
            <div class="special button btn btn-lg btn-primary">
              <a href="">
                {{ .Site.Params.about.showMoreButtonText}}
              </a>

              <svg class="icon animated bounce">
                  <use xlink:href="{{.Site.BaseURL}}symbol/svg/sprite.symbol.svg#double_arrow"></use>
              </svg>

            </div>
        </div>
    </div>
</section>
