<section id="hero" class="fill" data-aos="fade-in">
    <div class="middle">
        <div class="title-container">
            <h1 >{{ .Site.Params.hero.name }}</h1>
        </div>
        <h3 class="claim">{{ .Site.Params.hero.claim | markdownify}}</h3>
        <ul class="replacement_verbs">
          {{range  .Site.Params.hero.replacement_verbs}}
          <li class="verb">{{.}}</li>
          {{end}}
        </ul>

        {{range .Site.Params.hero.buttons}}
            <a class="btn btn-primary btn-lg" href="{{.link}}" role="button">{{.name}}</a>
        {{end}}
    </div>
</section>
